# system configuration parameters

class Config(object):
    
    # logging
    class LOGGING(object):
        VERBOSE = False
        FILE_PATH = 'logs/automata.log'
        NAME = 'automata'
    
    # system
    class STATUS(object):
        STOPPED = 0
        RUNNING = 1
        ERROR   = 2
    
    # engine
    class ENGINE(object):
        FREQUENCY = 21600  # 21.600 seconds == 6 hours
        MONITOR_ACTIVATED = True
        FACT_CHECK_MANAGER_ACTIVATED = True
        DETECTOR_ACTIVATED = True
        INTERVENTOR_ACTIVATED = True
        SCRAPING_ACTIVATED = True
        
    # monitor
    class MONITOR(object):
        STREAM_TIME = 1200  # 1.200 seconds == 20 minutes
        SEARCH_TAGS = ["COVID", "covid", "Covid",  "coronavirus", "coronavírus", "covid-19", "vacina"]

    # detector
    class DETECTOR(object):
        TRAIN_ICS = False

    # interventor
    class INTERVENTOR(object):
        WINDOW_SIZE = 7
        PROB_CLASSIF_THRESHOLD = 0.9
        NUM_NEWS_TO_SELECT = 4
        CURATOR = True

    # e-mail account
    class EMAIL(object):
        EMAIL = 'account_name@server.com'
        PASSWORD = 'there_is_no_spoon'
